* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2d33;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
}

header {
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}

header h2 {
    font-size: 1.5rem;
    color: #cccccc;
    font-weight: 400;
}

nav {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00cc88;
}

.project-card {
    background: #3a3f47;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: border 15ms ease-in;
}

.project-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #00cc88;
}

.project-link {
    color: #00cc88;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    color: #00cc88;
}

.contact-form {
    background: #3a3f47;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 5px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #444;
    background-color: #333;
    color: white;
    font-size: 1rem;
        resize: vertical; 

}

input:focus,
textarea:focus {
    border-color: #00cc88;
    outline: none;
}

.submit-btn {
    background-color: #00cc88;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #66e6cc;
}

.contact-info p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 10px;
}

.contact-info a {
    color: #00cc88;
    text-decoration: none;
}

.contact-info a:hover {
    color: #66e6cc;
}

